<a href="https://colab.research.google.com/github/leonardonels/Colab-python/blob/main/4_Esercizio_in_aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Analisi dei dati anagrafici dei dipendenti di un'azienda**

In [26]:
import numpy as np
import pandas as pd

1. Inserisci in un dataframe il contenuto del file "dipendenti.csv".

   Quante righe e quante colonne ci sono?

In [33]:
df = pd.read_csv("dipendenti.csv", sep=';')
df
#15 righe e 7 colonne

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città
0,Marco,Rossi,NaN,2,Vendite,30000,Milano
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma
2,Luca,Verdi,28.0,5,Vendite,37000,Milano
3,Sara,Neri,40.0,12,Information Technology,62000,Roma
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino
5,Francesca,Ferrari,NaN,15,Human Resources,58000,Roma
6,Elena,Romano,34.0,8,Information Technology,52000,Milano
7,Simone,Gialli,30.0,4,Vendite,33000,Napoli
8,Valentina,Rossi,30.0,9,Vendite,32000,Napoli
9,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino
10,Anna,Bianchi,32.0,7,Vendite,45000,Milano
11,Sara,Bianchi,32.0,7,Vendite,25000,Roma
12,Sara,Romano,33.0,8,Information Technology,40000,Milano
13,Simone,Gialli,30.0,4,Vendite,33000,Napoli
14,Valentina,Rossi,30.0,12,Vendite,42000,Milano

2. Crea una nuova colonna chiamata **Livello Esperienza**, utilizzando la colonna **Anni di esperienza**. Se l'esperienza è minore di 5 anni, mappa il valore a "Junior", tra 5 e 10 a "Mid" e più di 10 a "Senior".

In [35]:
bins=[0,5,10,100]
exp_lvl=["Junior", "Mid", "Senior"]
pd.cut(df["Anni di esperienza"], bins, labels=exp_lvl)

0     Junior
1        Mid
2     Junior
3     Senior
4     Senior
5     Senior
6        Mid
7     Junior
8        Mid
9     Senior
10       Mid
11       Mid
12       Mid
13    Junior
14    Senior
Name: Anni di esperienza, dtype: category
Categories (3, object): ['Junior' < 'Mid' < 'Senior']

In [28]:
def find_level(anni):
  if anni < 5:
    return 'Junior'
  elif anni >= 10:
    return 'Senior'
  else:
    return 'Mid'

In [36]:
df['Livello di esperienza']=df['Anni di esperienza'].map(find_level)
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello di esperienza
0,Marco,Rossi,NaN,2,Vendite,30000,Milano,Junior
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma,Mid
2,Luca,Verdi,28.0,5,Vendite,37000,Milano,Mid
3,Sara,Neri,40.0,12,Information Technology,62000,Roma,Senior
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior
5,Francesca,Ferrari,NaN,15,Human Resources,58000,Roma,Senior
6,Elena,Romano,34.0,8,Information Technology,52000,Milano,Mid
7,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior
8,Valentina,Rossi,30.0,9,Vendite,32000,Napoli,Mid
9,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior
10,Anna,Bianchi,32.0,7,Vendite,45000,Milano,Mid
11,Sara,Bianchi,32.0,7,Vendite,25000,Roma,Mid
12,Sara,Romano,33.0,8,Information Technology,40000,Milano,Mid
13,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior
14,Valentina,Rossi,30.0,12,Vendite,42000,Milano,Senior

3. Sostituisci i nomi dei dipartimenti con le seguenti abbreviazioni: Vendite -> 'VEN', Information Technology -> 'IT', Human Resources -> 'HR'.

In [31]:
def label_short(dipartimento):
  if dipartimento == 'Vendite':
    return 'VEN'
  elif dipartimento == 'Information Technology':
    return 'IT'
  else:
    return 'HR'

In [32]:
df['Dipartimento']=df['Dipartimento'].map(label_short)
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città
0,Marco,Rossi,NaN,Junior,VEN,30000,Milano
1,Anna,Bianchi,32.0,Mid,IT,45000,Roma
2,Luca,Verdi,28.0,Mid,VEN,37000,Milano
3,Sara,Neri,40.0,Senior,IT,62000,Roma
4,Giorgio,Rossi,45.0,Senior,HR,70000,Torino
5,Francesca,Ferrari,NaN,Senior,HR,58000,Roma
6,Elena,Romano,34.0,Mid,IT,52000,Milano
7,Simone,Gialli,30.0,Junior,VEN,33000,Napoli
8,Valentina,Rossi,30.0,Mid,VEN,32000,Napoli
9,Giorgio,Rossi,45.0,Senior,HR,70000,Torino
10,Anna,Bianchi,32.0,Mid,VEN,45000,Milano
11,Sara,Bianchi,32.0,Mid,VEN,25000,Roma
12,Sara,Romano,33.0,Mid,IT,40000,Milano
13,Simone,Gialli,30.0,Junior,VEN,33000,Napoli
14,Valentina,Rossi,30.0,Senior,VEN,42000,Milano

4. Crea un'altra colonna con i valori di età discretizzati in 5 gruppi, a quale gruppo di età appartiene la maggior parte dei dipendenti?

In [42]:
df['Età Discretizzata']=pd.cut(df['Età'],5)
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello di esperienza,Età Discretizzata
0,Marco,Rossi,NaN,2,Vendite,30000,Milano,Junior,NaN
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma,Mid,"(31.4, 34.8]"
2,Luca,Verdi,28.0,5,Vendite,37000,Milano,Mid,"(27.983, 31.4]"
3,Sara,Neri,40.0,12,Information Technology,62000,Roma,Senior,"(38.2, 41.6]"
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior,"(41.6, 45.0]"
5,Francesca,Ferrari,NaN,15,Human Resources,58000,Roma,Senior,NaN
6,Elena,Romano,34.0,8,Information Technology,52000,Milano,Mid,"(31.4, 34.8]"
7,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior,"(27.983, 31.4]"
8,Valentina,Rossi,30.0,9,Vendite,32000,Napoli,Mid,"(27.983, 31.4]"
9,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior,"(41.6, 45.0]"
10,Anna,Bianchi,32.0,7,Vendite,45000,Milano,Mid,"(31.4, 34.8]"
11,Sara,Bianchi,32.0,7,Vendite,25000,Roma,Mid,"(31.4, 34.8]"
12,Sara,Romano,33.0,8,Information Technology,40000,Milano,Mid,"(31.4, 34.8]"
13,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior,"(27.983, 31.4]"
14,Valentina,Rossi,30.0,12,Vendite,42000,Milano,Senior,"(27.983, 31.4]"

In [46]:
pd.value_counts(df['Età Discretizzata'])

<ipython-input-46-a671cccd3fc1>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df['Età Discretizzata'])

Età Discretizzata
(27.983, 31.4]    5
(31.4, 34.8]      5
(41.6, 45.0]      2
(38.2, 41.6]      1
(34.8, 38.2]      0
Name: count, dtype: int64

5. Sostituisci i valori mancanti della colonna età con il valore medio di età per i dipendenti dello stesso settore.

KeyError: ''

6. Verifica se, in media, lo stipendio di chi vive a Milano è superiore rispetto a quello di chi vive a Roma.