<a href="https://colab.research.google.com/github/leonardonels/Colab-python/blob/main/Copia_di_1_Esercizi_PythonBasic_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Creazione di funzioni

### Maggiore

Creare una funzione ***positivo*** che accetti un numero come input e torni 1 se positivo e -1 se nagativo, altrimenti 0

In [ ]:
def positivo(num):
  return num/abs(num) if num!=0 else 0

In [ ]:
positivo(10)

1.0

In [ ]:
positivo(-10)

-1.0

In [ ]:
positivo(0)

0

### Ciclo For

Creare la funzione ***cumulate*** che accetti in input un numero n positivo e sommi tutti i numeri precendeti fino a 1

Nota:
- usare un ciclo ***for*** con ***range***

res = n + (n - 1) + (n - 2) + ... + 1

In [ ]:
def cumulate(n):
  return sum(range(1,n+1)) if n>0 else print('error')

In [ ]:
cumulate(5)

15

In [ ]:
cumulate(1)

1

In [ ]:
cumulate(-1)

error

### Ciclo While

Creare la funzione ***cumulate*** che accetti in input un numero n positivo e sommi tutti i numeri precendeti fino a 1

Nota:
- usare un ciclo ***while***

res = n + (n - 1) + (n - 2) + ... + 1

In [13]:
def cum(n):
  c=0
  while n>0: c+=n; n-=1
  return c if c>0 else 'valore non stettamente positivo'

In [15]:
cum(5)

0

In [9]:
cum(1)

1

In [12]:
cum(-1)

'valore non stettamente positivo'

## Conversione tra variabili

### Convertire una variabile da ***int*** a ***float***

In [1]:
a = 10
print(type(a))

<class 'int'>

In [2]:
b = float(a)
print(type(b))
print(b)

<class 'float'>
10.0

### Convertire una variabile da ***float*** a ***int***

In [ ]:
a = 12.3124
print(type(a))

<class 'float'>

In [ ]:
b = int(a)
print(type(b))
print(b)

<class 'int'>
12

### Convertire una variabile da ***str*** a ***int***

In [ ]:
a = '10'
print(type(a))

<class 'str'>

In [ ]:
b = int(a)
print(type(b))
print(b)

<class 'int'>
10

### Convertire una variabile da ***int*** a ***str***

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
b = str(a)
print(type(b))
print(b)

<class 'str'>
10

## Strutture dati

### Creazione di strutture dati

date tre variabili a, b e c creare:
- una lista
- un set
- una tupla
- un dizionario con chiavi le variabili a, b, c e valori 1, 2, 3 rispettivamente

In [ ]:
a = 10
b = 'ciao'
c = 10

In [ ]:
# Put your code here :)

### Creare un lista di valori numeri

Creare una funzione ***lista_numerica*** che accetti in input un numero positivo n e torni una lista di numeri da 0 a n

In [ ]:
def lista_numerica(n):
  # DA COMPLETARE

  return res

In [ ]:
lista_numerica(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista_numerica(1)

[0, 1]

### Conversione da ***list*** a ***tuple***

In [ ]:
a = ['10', '20']
print(type(a))

<class 'list'>

In [ ]:
b = # DA COMPLETARE
print(type(b))
print(b)

<class 'tuple'>
('10', '20')

### Conversione da ***list*** a ***set***

In [ ]:
a = ['10', '10', '20']
print(type(a))

<class 'list'>

In [ ]:
b = # DA COMPLETARE
print(type(b))
print(b)

<class 'set'>
{'20', '10'}

### Conversione da ***set*** a ***list***

In [ ]:
a = {'10', '20'}
print(type(a))

<class 'set'>

In [ ]:
b = # DA COMPLETARE
print(type(b))
print(b)

<class 'list'>
['20', '10']

### Creazione di un dizionario da due liste

Creare una funzione ***listToDict*** che accetti in input due liste delle stesse dimensioni e crei un dizionario utilizzando la prima come lista di chiavi e la seconda come valori

Note:
- usare la funzione ***zip(lista1, lista2)***

In [ ]:
def listToDict(list_chiavi, list_valori):
  print('creare dizionario')
  print('chiavi', list_chiavi)
  print('chiavi', list_valori)

  # DA COMPLETARE

In [ ]:
l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']

In [ ]:
listToDict(l1, l2)

creare dizionario
chiavi [1, 2, 3]
chiavi ['a', 'b', 'c']

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
listToDict(l1, ['l2'])

creare dizionario
chiavi [1, 2, 3]
chiavi ['l2']

ValueError: ignored

### Intersezion di Liste

Creare una funzione che date due liste ritorni gli elementi in comune

Nota:
- usare il metodo ***intersection*** dei ***set***

In [ ]:
def intersezione(lista1, lista2):
  # DA COMPLETARE

In [ ]:
l1 = [1,2,4]
l2 = [1,2,3]

intersezione(l1, l2)

[1, 2]

In [ ]:
l1 = [1,2,4]
l2 = ['a', 'b', 'c']

intersezione(l1, l2)

[]

## Altri esercizi

Scrivere una funzione a cui viene passata una parola e riconosce se si tratta di un palindromo (parole che si leggono uguali anche al contrario) oppure meno.

Realizzare una funzione che effettui una conversione tra date memorizzate in tuple. La forma iniziale sarà della forma: (10,3,2021) per indicare la data 10/3/2021 La forma finale dovrà essere: ('decimo', 'Marzo', 2021).

Scrivi una funzione "sommatrice" che somma tra loro tutti gli elementi di una lista di numeri.

Scrivere una funzione che data in ingresso una lista A contenente n parole, restituisca in output una lista B di interi che rappresentano la lunghezza delle parole contenute in A.