**Analisi dei dati anagrafici dei dipendenti di un'azienda**

In [1]:
import pandas as pd
import numpy as np

1. Inserisci in un dataframe il contenuto del file "dipendenti.csv".

   Quante righe e quante colonne ci sono? Ci sono duplicati?

In [6]:
df = pd.read_csv('dipendenti.csv', sep=';')

In [7]:
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città
0,Marco,Rossi,NaN,2,Vendite,30000,Milano
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma
2,Luca,Verdi,28.0,5,Vendite,37000,Milano
3,Sara,Neri,40.0,12,Information Technology,62000,Roma
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino
5,Francesca,Ferrari,NaN,15,Human Resources,58000,Roma
6,Elena,Romano,34.0,8,Information Technology,52000,Milano
7,Simone,Gialli,30.0,4,Vendite,33000,Napoli
8,Valentina,Rossi,30.0,9,Vendite,32000,Napoli
9,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino
10,Anna,Bianchi,32.0,7,Vendite,45000,Milano
11,Sara,Bianchi,32.0,7,Vendite,25000,Roma
12,Sara,Romano,33.0,8,Information Technology,40000,Milano
13,Simone,Gialli,30.0,4,Vendite,33000,Napoli
14,Valentina,Rossi,30.0,12,Vendite,42000,Milano

In [8]:
df.shape[0]

15

In [9]:
df.shape[1]

7

In [10]:
df.duplicated().sum()

np.int64(2)

2. Crea una nuova colonna chiamata **Livello Esperienza**, utilizzando la colonna **Anni di esperienza**. Se l'esperienza è minore di 5 anni, mappa il valore a "Junior", tra 5 e 10 a "Mid" e più di 10 a "Senior".

In [11]:
def find_level(anni):
  if anni < 5:
    return 'Junior'
  elif anni <= 10:
    return 'Mid'
  else:
    return 'Senior'

In [12]:
df['Livello Esperienza'] = df['Anni di esperienza'].map(find_level)

In [13]:
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello Esperienza
0,Marco,Rossi,NaN,2,Vendite,30000,Milano,Junior
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma,Mid
2,Luca,Verdi,28.0,5,Vendite,37000,Milano,Mid
3,Sara,Neri,40.0,12,Information Technology,62000,Roma,Senior
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior
5,Francesca,Ferrari,NaN,15,Human Resources,58000,Roma,Senior
6,Elena,Romano,34.0,8,Information Technology,52000,Milano,Mid
7,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior
8,Valentina,Rossi,30.0,9,Vendite,32000,Napoli,Mid
9,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior
10,Anna,Bianchi,32.0,7,Vendite,45000,Milano,Mid
11,Sara,Bianchi,32.0,7,Vendite,25000,Roma,Mid
12,Sara,Romano,33.0,8,Information Technology,40000,Milano,Mid
13,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior
14,Valentina,Rossi,30.0,12,Vendite,42000,Milano,Senior

In [14]:
df['Livello Esperienza_cut'] = pd.cut(df['Anni di esperienza'].values, [0,5,11,100], right=False, labels = ['Junior', 'Mid', 'Senior'])

In [15]:
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello Esperienza,Livello Esperienza_cut
0,Marco,Rossi,NaN,2,Vendite,30000,Milano,Junior,Junior
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma,Mid,Mid
2,Luca,Verdi,28.0,5,Vendite,37000,Milano,Mid,Mid
3,Sara,Neri,40.0,12,Information Technology,62000,Roma,Senior,Senior
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior,Senior
5,Francesca,Ferrari,NaN,15,Human Resources,58000,Roma,Senior,Senior
6,Elena,Romano,34.0,8,Information Technology,52000,Milano,Mid,Mid
7,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior,Junior
8,Valentina,Rossi,30.0,9,Vendite,32000,Napoli,Mid,Mid
9,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior,Senior
10,Anna,Bianchi,32.0,7,Vendite,45000,Milano,Mid,Mid
11,Sara,Bianchi,32.0,7,Vendite,25000,Roma,Mid,Mid
12,Sara,Romano,33.0,8,Information Technology,40000,Milano,Mid,Mid
13,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior,Junior
14,Valentina,Rossi,30.0,12,Vendite,42000,Milano,Senior,Senior

3. Sostituisci i nomi dei dipartimenti con le seguenti abbreviazioni: Vendite -> 'VEN', Information Technology -> 'IT', Human Resources -> 'HR'. Quanti dipendenti ci sono per ogni dipartimento?

In [ ]:
dip = {'Vendite': 'VEN', 'Information Technology': 'IT', 'Human Resources': 'HR'}

In [ ]:
df['Dipartimento'] = df['Dipartimento'].map(dip)

In [ ]:
df['Dipartimento'].value_counts()

4. Crea un'altra colonna con i valori di età discretizzati in 5 gruppi, a quale gruppo di età appartiene la maggior parte dei dipendenti?

In [ ]:
df['Età_discr'] = pd.cut(df['Età'].values, 5)#.codes

In [ ]:
df['Età_discr'].value_counts().idxmax()

5. Sostituisci i valori mancanti della colonna età con il valore medio di età per i dipendenti dello stesso settore.

In [ ]:
df[df['Età'].isnull()]

In [ ]:
mean_ven = df[df['Dipartimento'] == 'VEN'].dropna()['Età'].mean()
mean_hr = df[df['Dipartimento'] == 'HR'].dropna()['Età'].mean()

In [ ]:
df.iloc[0,2] = mean_ven
df.iloc[5,2] = mean_hr

In [ ]:
df

In [ ]:
mean_age_by_department = df.groupby('Dipartimento')['Età'].mean()

def fill_missing_age(row):
  if pd.isnull(row['Età']):
    return mean_age_by_department.get(row['Dipartimento'])
  else:
    return row['Età']

df['Età'] = df.apply(fill_missing_age, axis=1)

6. Verifica se, in media, lo stipendio di chi vive a Milano è superiore rispetto a quello di chi vive a Roma.

In [ ]:
mean_milano = df[df['Città']=='Milano']['Stipendio'].mean()

In [ ]:
mean_roma = df[df['Città']=='Roma']['Stipendio'].mean()

In [ ]:
mean_milano > mean_roma

In [ ]:
mean_milano, mean_roma