In [ ]:
import numpy as np
import pandas as pd

# Data Wrangling: Clean, Transform, Merge, Reshape

- Much of the programming work in data analysis and modeling is spent on data preparation
    - loading, cleaning, transforming, and rearranging.
    -  the way that data is stored in files or databases is not the way you need it.
- Fortunately, pandas along with the Python standard library provide you with a high-level, flexible, and high-performance set of core manipulations and algorithms to enable you to wrangle data into the right form without much trouble.

## Hierarchical Indexing

- Hierarchical indexing  enables you to have multiple (two or more) index levels on an axis.

In [ ]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

In [ ]:
data.index

- partial indexing

In [ ]:
data["a"]

In [ ]:
data["b"]

In [ ]:
data["b":"d"]

In [ ]:
data[["b","d"]]

In [ ]:
data

In [ ]:
data[:,3]

<img src="https://drive.google.com/uc?id=1e5Qd4sSQvwu-4lKQHpn8IEeDR4CVs_Ns" width="60%" allow="autoplay"></img>

In [ ]:
data

In [ ]:
data.unstack()

In [ ]:
dataDF = data.unstack()
type(dataDF)

In [ ]:
dataDF.stack()

- In DataFrame, either axis can have a hierarchical index

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

In [ ]:
frame.index

In [ ]:
frame.columns

In [ ]:
frame["Ohio"]

In [ ]:
frame.loc["a",:]

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

In [ ]:
frame.sum(axis=1)

## Database-style DataFrame Merges

- pandas.merge connects rows in DataFrames based on one or more keys.
- pandas.concat glues or stacks together objects along an axis.
- combine_first instance method enables splicing together overlapping data to fill in missing values in one object with values from another.

- Merge or join operations combine datasets by linking rows using one or more keys.
    - These operations are central to relational databases (e.g., SQL-based).

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2) # natural join

In [ ]:
df1.merge(df2)

In [ ]:
pd.merge(df1, df2, on='key') # join using the attribute specified in the "on" parameter

In [ ]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})

In [ ]:
df3

In [ ]:
df4

In [ ]:
pd.merge(df3,df4)

In [ ]:
#we can specify the join attributes on the left and right tables
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='left')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='right')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='outer')

In [ ]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')

- treatment of overlapping column names.
-  merge has a suffixes option for specifying strings to append to overlapping names in the left and right DataFrame objects

In [ ]:
pd.merge(left, right, on='key1')

In [ ]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

- Merging on Index
    - the merge key(s) in a DataFrame can be found in its index.

In [ ]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

In [ ]:
left1

In [ ]:
right1

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True)

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True, how='outer')

In [ ]:
pd.merge(right1, right1, left_index=True, right_index=True)

In [ ]:
#we can use the indexes on both tables

left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                     index=['a', 'c', 'e'],
                     columns=['Ohio', 'Nevada'])
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                      index=['b', 'c', 'd', 'e'],
                      columns=['Missouri', 'Alabama'])

In [ ]:
left2

In [ ]:
right2

In [ ]:
pd.merge(left2, right2, left_index=True, right_index=True)

- DataFrame has a convenient **join** instance for merging by index
 - It performs a left join on the join keys, exactly preserving the left frameâ€™s row index

In [ ]:
left2.join(right2)

In [ ]:
pd.merge(left2, right2, left_index=True, right_index=True, how= 'left')

In [ ]:
right2.join(left2)

In [ ]:
left2.join(right2, how='inner')

In [ ]:
left1

In [ ]:
right1

In [ ]:
# we can join by index and attribute as with the merge
left1.join(right1, on='key')

In [ ]:
#joining more tables
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
                       index=['a', 'c', 'e', 'f'],
                       columns=['New York', 'Oregon'])
another

In [ ]:
left2.join([right2, another])

## Concatenating Along an Axis

- Another kind of data combination operation is referred to interchangeably as concatenation, binding, or stacking

In [ ]:
arr = np.arange(12).reshape((3, 4))
arr

In [ ]:
np.concatenate([arr, arr])

In [ ]:
np.concatenate([arr, arr], axis=1)

In the context of pandas objects such as Series and DataFrame, having labeled axes
enable you to further generalize array concatenation

In [ ]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s3

In [ ]:
pd.concat([s1,s2,s3])

In [ ]:
pd.concat([s1,s2,s3], axis=1)

In [ ]:
s4 = pd.concat([s1, s3])

In [ ]:
s4

In [ ]:
pd.concat([s1, s4], axis=1)

In [ ]:
s1

In [ ]:
s4

In [ ]:
pd.concat([s1, s4], axis=1, join ='inner')

- A potential issue is that the concatenated pieces are not identifiable in the result.

In [ ]:
pd.concat([s1,s2,s3], keys=['s1','s2','s3'])

In [ ]:
pd.concat([s1,s2,s3], keys=['s1','s2','s3']).unstack()

- The same logic extends to DataFrame objects:

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'],
                   columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'],
                   columns=['three', 'four'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
pd.concat([df1,df2], axis=1)

In [ ]:
pd.concat([df1,df2], axis=1, keys =['df1','df2'])

- when the row index does not contain any relevant data

In [ ]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
pd.concat([df1,df2], ignore_index=True)

In [ ]:
pd.concat([df1,df2], axis=1)

# Data Aggregation and Group Operations

- Categorizing a dataset and applying a function to each group is often a critical component of a data analysis workflow.
- After loading, merging, and preparing a dataset, you may need to compute group statistics or pivot tables for reporting or visualization purposes.

### GroupBy Mechanics
- data contained in a pandas object is split into groups based on one or more keys.
    - The splitting is performed on a particular axis of an object.
        - For example, a DataFrame can be grouped on its rows (axis=0) or its columns (axis=1).
- a function is applied to each group, producing a new value.
- the results of all those function applications are combined into a result object.

<img src="https://drive.google.com/uc?id=1B559BfpzVoV6i9QdzmeA-GLrGdZTd-2s" width=500>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

- We want to compute the mean of the data1 column using the labels from key1.

In [ ]:
grouped = df['data1'].groupby(df['key1'])

In [ ]:
grouped

- This grouped variable is now a GroupBy object.
- It has not actually computed anything yet except for some intermediate data about the group key df['key1'].
- The idea is that this object has all of the information needed to then apply some operation to each of the groups.

In [ ]:
grouped.max()

In [ ]:
grouped.mean()

In [ ]:
grouped.sum()

In [ ]:
df['data1'].groupby([df['key1'], df['key2']]).mean()

In [ ]:
df['data1'].groupby([df['key1'], df['key2']]).mean().unstack()

In [ ]:
df

In [ ]:
df.groupby(df['key1']).mean()

In [ ]:
df.groupby(df['key1']).mean(numeric_only=True)

- Note that there is no key2 column in the result.
    - df['key2'] is not numeric data

    
    
- the method size returns a Series containing group sizes

In [ ]:
df.groupby(['key1', 'key2']).size()

- Iterating Over Groups
    - The GroupBy object supports iteration,
    - It generates a sequence of 2-tuples containing the group name along with the chunk of data

In [ ]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)
    print("\n\n")

In [ ]:
# multiple keys in the group by clause
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)
    print("\n\n")

- By default groupby groups on axis=0, but you can group on any of the other axes.

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
grouped = df.groupby(df.dtypes, axis=1)

In [ ]:
grouped

In [ ]:
for dtype, group in grouped:
    print(dtype)
    print(group)

### Selecting a Column or Subset of Columns
- Indexing a GroupBy object created from a DataFrame with a column name or array of column names has the effect of column subsetting for aggregation

In [ ]:
df.groupby('key1')['data1']
# it is equal to df['data1'].groupby(df['key1'])

In [ ]:
df.groupby('key1')[['data2']]
# it is equal to df[['data2']].groupby(df['key1'])

In [ ]:
df.groupby('key1')['data2'].mean()

### Grouping with Dicts and Series

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [ ]:
people

In [ ]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'orange'}

In [ ]:
by_column = people.groupby(mapping, axis=1)

In [ ]:
by_column.sum()

- The same functionality holds for Series, which can be viewed as a fixed-size mapping

In [ ]:
map_series = pd.Series(mapping)

In [ ]:
map_series

In [ ]:
by_columnSeries = people.groupby(map_series, axis=1)

In [ ]:
by_columnSeries.mean()

### Grouping with Functions
- Any function passed as a group key will be called once per index value, with the return values being used as the group names.

In [ ]:
people

In [ ]:
people.groupby(len).sum()

In [ ]:
def name_with_j(x):
  if x.startswith("J"):
    return True
  return False

In [ ]:
name_with_j("Jim")

In [ ]:
name_with_j("Albert")

In [ ]:
people.groupby(name_with_j).sum()

- Mixing functions with arrays, dicts, or Series is not a problem

In [ ]:
people

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

### Data Aggregation

<img src="https://drive.google.com/uc?id=1Azj6fJq9KLaSZoA0GSLl2OwJCUzw-Ba2" width=500>

- Aggregations refer to any data transformation that produces scalar values from arrays.

- Many common aggregations, such as those found in the above table, have optimized implementations.

- You are not limited to only this set of methods.
    - For example quantile is not explicitly implemented for GroupBy, it is a Series method and thus available for use.

In [ ]:
grouped = df.groupby('key1')
grouped['data1'].quantile()

-  you can implement a custom function
- you have to pass the function to the agg() method

In [ ]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [ ]:
grouped = df.groupby('key1')

In [ ]:
grouped['data1'].agg(peak_to_peak)

In [ ]:
#Note that the method describes works applied to groups
grouped.describe()

## [BONUS] Column-Wise and Multiple Function Application

In [ ]:
#caricare il file su colab
tips = pd.read_csv('tips.csv')

In [ ]:
tips.head(10)

In [ ]:
tips.shape

In [ ]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [ ]:
tips.head(10)

- aggregating a Series or all of the columns of a DataFrame is a matter of using aggregate with the desired function or calling a method like mean or std.
- you may want to aggregate using a different function depending on the column, or multiple functions at once.

In [ ]:
#this is a simple grouping
grouped = tips.groupby(['day', 'smoker'])

In [ ]:
grouped_pct = grouped['tip_pct']

In [ ]:
# for simple statistics, you can pass the name of the function as a string
grouped_pct.agg('mean')

In [ ]:
grouped_pct.mean()

In [ ]:
# If you pass a list of functions or function names, you get back a DataFrame with column names taken from the functions
grouped_pct.agg(['mean', 'std', peak_to_peak])

In [ ]:
grouped_pct.agg([('Media', 'mean'), ('Deviazione std', np.std)])

In [ ]:
#you can specify a list of functions to apply to all of the columns or different functions per column
#all columns
functions = ['count', 'mean', 'max']

In [ ]:
grouped[['tip_pct', 'total_bill']].agg(functions)

In [ ]:
#aggregation on a selection of the columns

In [ ]:
grouped.agg({'tip' : np.max, 'size' : 'sum'})

## [BONUS] Apply: General split-apply-combine

- We want to select the top five values by group

In [ ]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [ ]:
top(tips, n=6)

In [ ]:
tips[["day","total_bill"]].groupby(["day"]).max()

In [ ]:
tips[["day","total_bill"]].groupby("day").apply(top, column="total_bill")

In [ ]:
tips[["day","total_bill"]].groupby("day").apply(top, n=1, column="total_bill")

## Pivot Tables

- A pivot table
    - aggregates a table of data by one or more keys,
    - arranges the data in a rectangle with some of the group keys along the rows and the columns.

In [ ]:
#caricare il file su colab
tips = pd.read_csv('tips.csv')

In [ ]:
tips.head(10)

In [ ]:
tips.pivot_table(index=['day', 'smoker']) # the default aggregation type is mean

In [ ]:
tips.pivot_table(index=['day', 'smoker'], aggfunc='first')

In [ ]:
tips.pivot_table(index=['day', 'smoker'], values=['size', 'tip'], aggfunc='sum')

In [ ]:
tips.pivot_table(index=['day', 'size'], values='tip', columns='smoker')

In [ ]:
tips.pivot_table(index=['day', 'size'], values='tip', columns='smoker', margins=True)

In [ ]:
tips.pivot_table(index=['day', 'size'], values='tip', columns='smoker', margins=True, fill_value=-1000)

## [Bonus] Cross-Tabulations: Crosstab
- A cross-tabulation (or crosstab for short) is a special case of a pivot table that computes group frequencies.

In [ ]:
states= ['USA','USA','UK','IT','UK','UK','IT','USA']
gender= ['M','F','F','M','M','M','F','M']

In [ ]:
data = pd.DataFrame({'states':states,'gender':gender})

In [ ]:
data

In [ ]:
pd.crosstab(data.states, data.gender)

In [ ]:
pd.crosstab(data.gender, data.states)

In [ ]:
pd.crosstab(data.gender, data.states, margins=True)